In [6]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
#from google.colab import files

In [ ]:
menu = pd.read_excel("C:/Users/miche/Downloads/farmworks-main/farmworks-main/farmworks_menu.xlsx", engine='openpyxl')
sales = pd.read_excel("C:/Users/miche/Downloads/farmworks-main/farmworks-main/farmworks_sales.xlsx", engine='openpyxl')
cost = pd.read_excel("C:/Users/miche/Downloads/cost ref.xlsx", engine='openpyxl')

# enc is te most recent df
enc = pd.read_excel("C:/Users/miche/Downloads/sales_menu_encoded.xlsx", engine='openpyxl')
weather = pd.read_excel()

In [8]:
enc.head()

enc = enc.rename(columns={"Date": "date", "empanada_qty": "emp_qty", "soups_encoded": "soup_enc", "salads_encoded": "salad_enc", "emp_encoded": "emp_enc"})
enc1 = enc.drop(columns=["empanada", "soup", "salad"])

enc.head()

,timestamp,date,day_name,item,qty,gross_sale,discount,net_sales,tax,day,...,hour,salad_qty,salad,emp_qty,empanada,soup_qty,soup,soup_enc,salad_enc,emp_enc
0,2024-10-17 11:35:38,2024-10-17,Thursday,Soup - Non-Dickinson Student or Non-Meal Plan,7,42.91,0.0,42.91,2.58,17,...,11,0.0,0.0,7,1,7.0,1.0,8,11,4
1,2024-04-03 11:38:15,2024-04-03,Wednesday,1/2 Soup - 1/2 Salad - Non Dickinson Student o...,7,35.00,0.0,35.00,2.10,3,...,11,3.5,0.5,7,1,3.5,0.5,14,8,3
2,2024-10-03 11:31:30,2024-10-03,Thursday,Soup - Dickinson Student w. Meal Plan,6,18.00,0.0,18.00,0.00,3,...,11,0.0,0.0,6,1,6.0,1.0,19,16,5
3,2024-10-01 11:21:50,2024-10-01,Tuesday,Soup - Dickinson Student w. Meal Plan,6,18.00,0.0,18.00,0.00,1,...,11,0.0,0.0,6,1,6.0,1.0,8,16,5
4,2024-02-14 11:40:51,2024-02-14,Wednesday,1/2 Soup - 1/2 Salad - Non Dickinson Student o...,6,30.00,0.0,30.00,1.80,14,...,11,3.0,0.5,6,1,3.0,0.5,25,13,1

In [9]:
from sklearn.preprocessing import LabelEncoder

le_day = LabelEncoder()

# Apply label encoding to each column
enc1['day_of_week'] = le_day.fit_transform(enc1['day_name'])

# Drop original categorical columns
enc1.drop(columns=['day_name'], inplace=True)

# Verify the transformation
print(enc1.head())

# Save transformed data to Excel
enc1.to_excel("enc_cleaned.xlsx", index=False, engine='openpyxl')

            timestamp       date  \
0 2024-10-17 11:35:38 2024-10-17
1 2024-04-03 11:38:15 2024-04-03
2 2024-10-03 11:31:30 2024-10-03
3 2024-10-01 11:21:50 2024-10-01
4 2024-02-14 11:40:51 2024-02-14

                                                item  qty  gross_sale  \
0      Soup - Non-Dickinson Student or Non-Meal Plan    7       42.91
1  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    7       35.00
2              Soup - Dickinson Student w. Meal Plan    6       18.00
3              Soup - Dickinson Student w. Meal Plan    6       18.00
4  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    6       30.00

   discount  net_sales   tax  day  year  month  hour  salad_qty  emp_qty  \
0       0.0      42.91  2.58   17  2024     10    11        0.0        7
1       0.0      35.00  2.10    3  2024      4    11        3.5        7
2       0.0      18.00  0.00    3  2024     10    11        0.0        6
3       0.0      18.00  0.00    1  2024     10    11        0.0        6
4       0.0      30.00  1.80   14  2024      2    11        3.0        6

   soup_qty  soup_enc  salad_enc  emp_enc  day_of_week
0       7.0         8         11        4            2
1       3.5        14          8        3            4
2       6.0        19         16        5            2
3       6.0         8         16        5            3
4       3.0        25         13        1            4

In [10]:
menu.head(10)

,Week,Day,Soup Menu,Notes,Salad Menu,Empanada Menu
0,2023-08-28,Mon,Tomato,contains coconut milk,Mujadara Bowls w/Parsley-Tahini dressing,NaN
1,2023-08-29,Tues,Red Lentil,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
2,2023-08-30,Wed,Sopa de Fideo,nf,Mujadara Bowls w/Parsley-Tahini dressing,Creole
3,2023-08-31,Thur,Sweet & Sour Vegetable,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
4,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
5,2023-09-04,Mon,Moroccan Chickpea & Carrot,nf,Kale Caesar,NaN
6,2023-09-05,Tues,Carrot Ginger,contains coconut milk,Kale Caesar,NaN
7,2023-09-06,Wed,Cuban Black Bean,nf,Kale Caesar,Three Sisters
8,2023-09-07,Thur,Split Pea,nf,Kale Caesar,NaN
9,2023-09-08,Fri,Red Bean Chili,nf,Kale Caesar,NaN

In [4]:
sales.head()

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location,Empanadas
0,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works,0
1,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Farm Store,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,Payment,Farm Works,0
2,2023-09-01 11:04:36,2023-09-01,Friday,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0
3,2023-09-01 11:05:24,2023-09-01,Friday,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0
4,2023-09-01 11:06:12,2023-09-01,Friday,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0

In [5]:
menu['Date'] = menu['Week'].dt.date
sales['Date'] = sales['timestamp'].dt.date

In [6]:

merged = pd.merge(sales, menu, on="Date", how="left")
#print(merged.columns)
#len(merged)

merged = merged.rename(columns={"Time": "time", "Category": "category", "Item": "item", "Qty": "qty", "Gross Sales": "gross_sale", 
                                "Discounts": "discount", "Net Sales": "net_sales", "Tax": "tax", "Event Type": "event_type", 
                                "Location": "location", "Week": "week", "Day": "day", "Notes": "notes", 
                                "Salad Menu": "salad_menu", "Soup Menu": "soup_menu", "Empanada Menu": "empanada_menu", "Soup": "soup", "Salad": "salad", "Data": "date"})
merged = merged.drop(columns=["time", "category", "event_type", "location", "week", "notes", "Empanadas"])

merged["year"] = merged['timestamp'].dt.year
merged["month"] = merged['timestamp'].dt.month
merged["day"] = merged['timestamp'].dt.day
merged["hour"] = merged['timestamp'].dt.hour

merged.head(10)

,timestamp,Date,day_name,item,qty,gross_sale,discount,net_sales,tax,day,soup_menu,salad_menu,empanada_menu,year,month,hour
0,2023-09-01 11:04:07,2023-09-01,Friday,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
1,2023-09-01 11:04:07,2023-09-01,Friday,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
2,2023-09-01 11:04:36,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
3,2023-09-01 11:05:24,2023-09-01,Friday,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
4,2023-09-01 11:06:12,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
5,2023-09-01 11:06:46,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
6,2023-09-01 11:10:00,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,3.0,9.0,0.0,9.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
7,2023-09-01 11:10:47,2023-09-01,Friday,Salad - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
8,2023-09-01 11:15:10,2023-09-01,Friday,Box of lamb,1.0,200.0,0.0,200.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
9,2023-09-01 11:19:47,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11

In [7]:
unique_items = merged['item'].unique()

print(unique_items)

['Soup - Non-Dickinson Student or Non-Meal Plan' 'Beef Jerky - SMOKE'
 'Soup - Dickinson Student w. Meal Plan'
 '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
 'Salad - Dickinson Student w. Meal Plan' 'Box of lamb' 'Tote Bags'
 'Carrot-Habanero Hot Sauce' 'Salsa' 'Melon Marmalade'
 'Strawberry Compote' 'Salad - Non -Dickinson Student or Non-Meal Plan'
 'Beef Jerky - HOT' 'Red Devil Hot Pepper Sauce' 'Bloody Mary Mix'
 'Metal Camping Mugs' 'T-Shirt Bags'
 'Soup Dickinson Staff paying with Declining Balance'
 '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan' 'Garlic'
 'Tomatoes' 'Eggs, Dozen' 'Kimchi' 'Beef Filet Mignon'
 'Beef Delmonico Steak' 'Beef Sausage Pepper & Onion' 'Beef Sirloin Cubes'
 'Beef Sweet Italian Sausage (3- or 4-pack)'
 'Beef Hot Italian Sausage (3 or 4 pack)' 'Ground Beef' 'Dill Pickles'
 'Beets' 'Onions'
 '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance'
 'Salad Dickinson Staff paying with Declining Balance' 'Strawberry Shrub'
 'Popcorn' 'Pizza Sauce' 'Lip Therapy' 'Stickers' 'Strawberry Jam'
 'Dog Note Cards' 'Custom Amount' 'Special Pizza' 'Plain Pizza'
 'Three veg pizza' 'Bulk Tomatoes' 'Mason Jar - w/ lid and straw  $8'
 'Beef Hot Dogs' 'Elderberry Syrup' 'Herbal Salve' 'Potatoes'
 'Pedal Power' 'Note Cards' 'Eye Round Roast' 'Beef Flank Steak'
 'Beef Chuck Roast' 'Beef Tri-Tip Steak' 'Farm Fresh Eggs' 'Luffa'
 'Elderberry Extract' 'Soap' 'Cantaloupe Shrub' 'Beef, Sausage'
 'Salad dressing - Deep Green Vinegrette'
 'Grass-Fed Grill Item - Non-Dickinson Customer'
 'Grass-Fed Grill Item-Dickinson Student W. Meal plan' 'Dryer Balls'
 'Grass-Fed Grill Item Dickinson Staff W. DB' 'Yarn'
 'Dickinson College T-shirt' 'Fire Cider' 'Sauerkraut' 'Beef, Ground'
 'Ten Mile Farm Foundation payment' 'Red Devil Trucker Hat'
 'Habanero-Carrot Hot Sauce' 'Beef Shaved Steak' 'Note Card - Single card'
 'Beef, Nitrate Free Hot Dogs, 5-pack' 'Dog toy'
 'Beef New York Strip Steak' 'Sweet Pickles' 'Sage Extract'
 'Nettle Leaf Extract' 'Dickinson Hat' 'Marinara'
 'Farm Works gift certificate' 'Sriracha' 'Double E Tincture'
 'Beef Sirloin Steak' 'Echinacea Extract' 'Beef Ground Beef'
 'Beef Sandwich Steak' 'Beef Jerky - Hot n Spicy'
 'Laundry Strips 20 Loads' 'Ceramic Dickinson College Mug' 'Cabbage'
 'Black Dickinson Farm T-shirt' 'Eggs, half' 'Eggs, Half Dozen'
 'T shirt scarf' 'Fresh Greens, 1/2 Lb. Bag'
 'Beef Convenience Cuts Bundle' 'Beef Cuts Bundle'
 'Beef Delmonico Steak (1.2 lb)' 'Beef Tri-Tip Steak (2.2 lb)'
 'Beef Hot Dogs (5 pack)' 'Beef New York Strip Steak (1.1 lb)'
 'Beef Burger Patties' 'Beef Jerky - Hickory Smoked'
 'Beef Jerky - Hot & Spicy' 'Veggie Lover Tee' '5-Gallon Compost Bucket'
 'zucchini ' 'Cherry tomatoes' 'Summer Squash' 'zucchini'
 'Green Devil Pepper Sauce' 'Pizza, Frozen GF 3 VEG'
 'Pizza, frozen REG 3 VEG' 'Fermented Foods' 'Pizza, Frozen GF CHEESE'
 'watermelon' 'Small Batches' 'Pizza, Frozen REG CHEESE'
 'Beef Skirt Steak (1 lb)' 'Beef Flat Iron Steak' 'Pesto, frozen'
 '2-Gallon Compost Bucket' 'Beef, Burger Patties' 'Beef, NY Strip Steak'
 'Hot Peppers' 'Relish' 'Peppers' 'Pepper, Sweet Yummy'
 'Small Batches, Student Meal Plan' 'Carrots' 'Small Batch, Non-Meal Plan'
 'New York Strip Steak - Farm Works' 'Tomato, Box' 'Butternut Squash'
 'Bell pepper' 'Petite Beef Tenderloin' 'Non Student Breakfast'
 'Student Breakfast, Meal Plan']

In [8]:
# List of items to include
item_list = [
    'Soup - Non-Dickinson Student or Non-Meal Plan',
    'Soup - Dickinson Student w. Meal Plan',
    'Salad - Dickinson Student w. Meal Plan',
    'Salad - Non -Dickinson Student or Non-Meal Plan',
    'Soup Dickinson Staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    'Salad Dickinson Staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
]

# Subset 
filtered_merged = merged[merged["item"].isin(item_list)]

filtered_merged.head()
#len(filtered_merged)

,timestamp,Date,day_name,item,qty,gross_sale,discount,net_sales,tax,day,soup_menu,salad_menu,empanada_menu,year,month,hour
0,2023-09-01 11:04:07,2023-09-01,Friday,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
2,2023-09-01 11:04:36,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
3,2023-09-01 11:05:24,2023-09-01,Friday,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
4,2023-09-01 11:06:12,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11
5,2023-09-01 11:06:46,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11

In [9]:
soup = [
    'Soup - Non-Dickinson Student or Non-Meal Plan',
    'Soup - Dickinson Student w. Meal Plan',
    'Soup Dickinson Staff paying with Declining Balance']

filtered_merged.loc[filtered_merged["item"].isin(soup), ["salad", "empanada"]] = np.nan

salad = [
    'Salad - Dickinson Student w. Meal Plan',
    'Salad - Non -Dickinson Student or Non-Meal Plan',
    'Salad Dickinson Staff paying with Declining Balance']

filtered_merged.loc[filtered_merged["item"].isin(salad), ["soup", "empanada"]] = np.nan

emp = [
    'Monday', 'Tuesday', 'Thursday', 'Friday']

filtered_merged.loc[filtered_merged["day_name"].isin(emp), ["empanada"]] = np.nan

filtered_merged.head()

,timestamp,Date,day_name,item,qty,gross_sale,discount,net_sales,tax,day,soup_menu,salad_menu,empanada_menu,year,month,hour,salad,empanada,soup
0,2023-09-01 11:04:07,2023-09-01,Friday,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11,NaN,NaN,NaN
2,2023-09-01 11:04:36,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11,NaN,NaN,NaN
3,2023-09-01 11:05:24,2023-09-01,Friday,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11,NaN,NaN,NaN
4,2023-09-01 11:06:12,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11,NaN,NaN,NaN
5,2023-09-01 11:06:46,2023-09-01,Friday,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,1,Elote Corn,Mujadara Bowls w/Parsley-Tahini dressing,NaN,2023,9,11,NaN,NaN,NaN

In [10]:
# Check using Wed sales
wed = filtered_merged[filtered_merged['day_name'] == "Wednesday"]

print(wed)

                timestamp        Date   day_name  \
259   2023-09-06 10:59:54  2023-09-06  Wednesday
260   2023-09-06 11:01:10  2023-09-06  Wednesday
261   2023-09-06 11:02:56  2023-09-06  Wednesday
262   2023-09-06 11:03:06  2023-09-06  Wednesday
263   2023-09-06 11:03:22  2023-09-06  Wednesday
...                   ...         ...        ...
20434 2024-10-23 13:24:55  2024-10-23  Wednesday
20435 2024-10-23 13:35:08  2024-10-23  Wednesday
20436 2024-10-23 13:38:36  2024-10-23  Wednesday
20437 2024-10-23 13:39:01  2024-10-23  Wednesday
20438 2024-10-23 13:54:40  2024-10-23  Wednesday

                                                    item  qty  gross_sale  \
259    1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0        3.00
260               Salad - Dickinson Student w. Meal Plan  1.0        3.00
261    1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0        3.00
262               Salad - Dickinson Student w. Meal Plan  1.0        3.00
263                Soup - Dickinson Student w. Meal Plan  1.0        3.00
...                                                  ...  ...         ...
20434    Salad - Non -Dickinson Student or Non-Meal Plan  1.0        6.13
20435    Salad - Non -Dickinson Student or Non-Meal Plan  1.0        6.13
20436             Salad - Dickinson Student w. Meal Plan  1.0        5.00
20437             Salad - Dickinson Student w. Meal Plan  1.0        5.00
20438             Salad - Dickinson Student w. Meal Plan  1.0        5.00

       discount  net_sales   tax  day         soup_menu   salad_menu  \
259         0.0       3.00  0.00    6  Cuban Black Bean  Kale Caesar
260         0.0       3.00  0.00    6  Cuban Black Bean  Kale Caesar
261         0.0       3.00  0.00    6  Cuban Black Bean  Kale Caesar
262         0.0       3.00  0.00    6  Cuban Black Bean  Kale Caesar
263         0.0       3.00  0.00    6  Cuban Black Bean  Kale Caesar
...         ...        ...   ...  ...               ...          ...
20434       0.0       6.13  0.37   23               NaN          NaN
20435       0.0       6.13  0.37   23               NaN          NaN
20436       0.0       5.00  0.00   23               NaN          NaN
20437       0.0       5.00  0.00   23               NaN          NaN
20438       0.0       5.00  0.00   23               NaN          NaN

       empanada_menu  year  month  hour  salad  empanada  soup
259    Three Sisters  2023      9    10    NaN       NaN   NaN
260    Three Sisters  2023      9    11    NaN       NaN   NaN
261    Three Sisters  2023      9    11    NaN       NaN   NaN
262    Three Sisters  2023      9    11    NaN       NaN   NaN
263    Three Sisters  2023      9    11    NaN       NaN   NaN
...              ...   ...    ...   ...    ...       ...   ...
20434            NaN  2024     10    13    NaN       NaN   NaN
20435            NaN  2024     10    13    NaN       NaN   NaN
20436            NaN  2024     10    13    NaN       NaN   NaN
20437            NaN  2024     10    13    NaN       NaN   NaN
20438            NaN  2024     10    13    NaN       NaN   NaN

[4182 rows x 19 columns]

In [11]:
# half is 0.5

# Define the item categories
soup = [
    'Soup - Non-Dickinson Student or Non-Meal Plan',
    'Soup - Dickinson Student w. Meal Plan',
    'Soup Dickinson Staff paying with Declining Balance'
]

salad = [
    'Salad - Dickinson Student w. Meal Plan',
    'Salad - Non -Dickinson Student or Non-Meal Plan',
    'Salad Dickinson Staff paying with Declining Balance'
]

half = [
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
]

# Empanada condition (ignore empanadas on specific days)
emp_days = ['Monday', 'Tuesday', 'Thursday', 'Friday']
filtered_merged.loc[filtered_merged["day_name"].isin(emp_days), ["empanada_qty"]] = np.nan

# Add salad, soup, and emp columns for each row
filtered_merged['salad'] = np.where(
    filtered_merged['item'].isin(salad), 1,
    np.where(filtered_merged['item'].isin(half), 0.5, 0)
)
filtered_merged['soup'] = np.where(
    filtered_merged['item'].isin(soup), 1,
    np.where(filtered_merged['item'].isin(half), 0.5, 0)
)
filtered_merged['emp'] = np.where(
    filtered_merged['item'].str.contains("empanada", case=False, na=False), 1, 0
)

# Keep data at the row level
print("Row-Level Data with Counts (Half Items = 0.5):")
print(filtered_merged[['timestamp', 'Date', 'item', 'salad', 'soup', 'emp']])

# Save to Excel if needed
merged.to_excel("sales_menu_cleaned_half_items.xlsx", index=False, engine='openpyxl')

Row-Level Data with Counts (Half Items = 0.5):
                timestamp        Date  \
0     2023-09-01 11:04:07  2023-09-01
2     2023-09-01 11:04:36  2023-09-01
3     2023-09-01 11:05:24  2023-09-01
4     2023-09-01 11:06:12  2023-09-01
5     2023-09-01 11:06:46  2023-09-01
...                   ...         ...
20984 2024-10-29 13:08:54  2024-10-29
20985 2024-10-29 13:09:19  2024-10-29
20986 2024-10-29 13:10:34  2024-10-29
20987 2024-10-29 13:12:22  2024-10-29
20988 2024-10-29 13:46:29  2024-10-29

                                                    item  salad  soup  emp
0          Soup - Non-Dickinson Student or Non-Meal Plan    0.0   1.0    0
2                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
3      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
4                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
5                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
...                                                  ...    ...   ...  ...
20984  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
20985  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
20986  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    0.5   0.5    0
20987  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    0.5   0.5    0
20988  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0

[15558 rows x 6 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder

le_soups = LabelEncoder()
le_salads = LabelEncoder()
le_emp = LabelEncoder()

# Apply label encoding to each column
filtered_merged['soups_encoded'] = le_soups.fit_transform(filtered_merged['soup_menu'])
filtered_merged['salads_encoded'] = le_salads.fit_transform(filtered_merged['salad_menu'])
filtered_merged['emp_encoded'] = le_emp.fit_transform(filtered_merged['empanada_menu'])

# Drop original categorical columns
filtered_merged.drop(columns=['soup_menu', 'salad_menu', 'empanada_menu'], inplace=True)

# Verify the transformation
print(filtered_merged.head())

# Save transformed data to Excel
filtered_merged.to_excel("sales_menu_encoded.xlsx", index=False, engine='openpyxl')

            timestamp        Date day_name  \
0 2023-09-01 11:04:07  2023-09-01   Friday
2 2023-09-01 11:04:36  2023-09-01   Friday
3 2023-09-01 11:05:24  2023-09-01   Friday
4 2023-09-01 11:06:12  2023-09-01   Friday
5 2023-09-01 11:06:46  2023-09-01   Friday

                                                item  qty  gross_sale  \
0      Soup - Non-Dickinson Student or Non-Meal Plan  1.0         5.0
2              Soup - Dickinson Student w. Meal Plan  1.0         3.0
3  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.0
4              Soup - Dickinson Student w. Meal Plan  1.0         3.0
5              Soup - Dickinson Student w. Meal Plan  1.0         3.0

   discount  net_sales  tax  day  ...  month  hour  salad  empanada  soup  \
0       0.0        5.0  0.3    1  ...      9    11    0.0       NaN   1.0
2       0.0        3.0  0.0    1  ...      9    11    0.0       NaN   1.0
3       0.0        3.0  0.0    1  ...      9    11    0.5       NaN   0.5
4       0.0        3.0  0.0    1  ...      9    11    0.0       NaN   1.0
5       0.0        3.0  0.0    1  ...      9    11    0.0       NaN   1.0

   empanada_qty  emp  soups_encoded  salads_encoded  emp_encoded
0           NaN    0              8              10            6
2           NaN    0              8              10            6
3           NaN    0              8              10            6
4           NaN    0              8              10            6
5           NaN    0              8              10            6

[5 rows x 21 columns]

In [ ]:
# ignore for now
filtered_merged['timestamp'] = pd.to_datetime(filtered_merged['timestamp'])

filtered_merged['date'] = filtered_merged['timestamp'].dt.date
#filtered_merged['day_of_week'] = filtered_merged['timestamp'].dt.dayofweek

half = [
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan']

def create_count_df(time_start, time_end):
    # Filter the DataFrame based on the time range
    subset_time = filtered_merged[
        (filtered_merged['timestamp'].dt.time >= pd.to_datetime(time_start).time()) &
        (filtered_merged['timestamp'].dt.time < pd.to_datetime(time_end).time())
    ]

    # Count full 
    soup_items = subset_time[subset_time['item'].isin(soup)]
    salad_items = subset_time[subset_time['item'].isin(salad)]
    #empanada_items = subset_time[subset_time['Item'].str.contains("Empanada", case=False, na=False)]

    # Filter for half Soup and Salad items (add 0.5 to both)
    half_soup_salad_items = subset_time[subset_time['item'].isin(half)]

    # Count full Soup, Salad, and Empanada items
    soup_count = soup_items.groupby('date').size().reset_index(name='soup_count')
    salad_count = salad_items.groupby('date').size().reset_index(name='salad_count')
    #empanada_count = empanada_items.groupby('date').size().reset_index(name='empanada_count')

    # Count half Soup and Salad items (each counts as 0.5)
    half_soup_salad_count = half_soup_salad_items.groupby('date').size().reset_index(name='half')

    # Add 0.5 for each half Soup and Salad item to the respective columns
    soup_count['soup_count'] += half_soup_salad_count['half'] * 0.5
    salad_count['salad_count'] += half_soup_salad_count['half'] * 0.5

    # Add full counts for Empanadas on Wednesdays (where day_of_week == 2)
    wednesday_half_soup_salad = half_soup_salad_items[half_soup_salad_items['day_name'] == 'Wednesday']
    empanada_count = wednesday_half_soup_salad.groupby('date').size().reset_index(name='empanada_count')

    # Add the full count to the Empanada count on Wednesdays
    #empanada_count = pd.merge(empanada_count, empanada_count_wednesday, on='date', how='outer')
    #empanada_count['empanada_count'] += empanada_count['empanada_count_wednesday'].fillna(0)

    # Merge all counts together
    result = pd.merge(soup_count, salad_count, on='date', how='outer')
    result = pd.merge(result, empanada_count[['date', 'empanada_count']], on='date', how='outer')

    return result

# Create DataFrames for each time range
sales_11_to_12 = create_count_df("11:00:00", "12:00:00")
sales_12_to_1 = create_count_df("12:00:00", "13:00:00")
sales_1_to_2 = create_count_df("13:00:00", "14:00:00")

# Print the resulting DataFrames
print("11 AM to 12 PM:")
print(sales_11_to_12)
print("\n12 PM to 1 PM:")
print(sales_12_to_1)
print("\n1 PM to 2 PM:")
print(sales_1_to_2)

KeyError: 'Item'

In [27]:
# just set everything to 1
import pandas as pd
import numpy as np

# Define the item categories
soup = [
    'Soup - Non-Dickinson Student or Non-Meal Plan',
    'Soup - Dickinson Student w. Meal Plan',
    'Soup Dickinson Staff paying with Declining Balance'
]

salad = [
    'Salad - Dickinson Student w. Meal Plan',
    'Salad - Non -Dickinson Student or Non-Meal Plan',
    'Salad Dickinson Staff paying with Declining Balance'
]

half = [
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
]

# Clear other item categories based on rules
filtered_merged.loc[filtered_merged["Item"].isin(soup), ["Salad", "Empanada"]] = np.nan
filtered_merged.loc[filtered_merged["Item"].isin(salad), ["Soup", "Empanada"]] = np.nan

# Empanada condition (ignore empanadas on specific days)
emp_days = ['Monday', 'Tuesday', 'Thursday', 'Friday']
filtered_merged.loc[filtered_merged["day_name"].isin(emp_days), ["Empanada"]] = np.nan

# Add salad, soup, and emp columns for each row
filtered_merged['salad'] = np.where(
    filtered_merged['Item'].isin(salad), 1,
    np.where(filtered_merged['Item'].isin(half), 0.5, 0)
)
filtered_merged['soup'] = np.where(
    filtered_merged['Item'].isin(soup), 1,
    np.where(filtered_merged['Item'].isin(half), 0.5, 0)
)
filtered_merged['emp'] = np.where(
    filtered_merged['Item'].str.contains("Empanada", case=False, na=False), 1, 0
)

# Keep data at the row level
print("Row-Level Data with Counts:")
print(filtered_merged[['timestamp', 'date', 'Item', 'salad', 'soup', 'emp']])

# Save to Excel if needed
filtered_merged.to_excel("sales_menu_cleaned_row_level.xlsx", index=False, engine='openpyxl')

Row-Level Data with Counts:
                timestamp        date  \
0     2023-09-01 11:04:07  2023-09-01
2     2023-09-01 11:04:36  2023-09-01
3     2023-09-01 11:05:24  2023-09-01
4     2023-09-01 11:06:12  2023-09-01
5     2023-09-01 11:06:46  2023-09-01
...                   ...         ...
20984 2024-10-29 13:08:54  2024-10-29
20985 2024-10-29 13:09:19  2024-10-29
20986 2024-10-29 13:10:34  2024-10-29
20987 2024-10-29 13:12:22  2024-10-29
20988 2024-10-29 13:46:29  2024-10-29

                                                    Item  salad  soup  emp
0          Soup - Non-Dickinson Student or Non-Meal Plan    0.0   1.0    0
2                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
3      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
4                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
5                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
...                                                  ...    ...   ...  ...
20984  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
20985  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
20986  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    0.5   0.5    0
20987  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    0.5   0.5    0
20988  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0

[15558 rows x 6 columns]

Row-Level Data with Counts (Half Items = 0.5):
                timestamp        date  \
0     2023-09-01 11:04:07  2023-09-01
2     2023-09-01 11:04:36  2023-09-01
3     2023-09-01 11:05:24  2023-09-01
4     2023-09-01 11:06:12  2023-09-01
5     2023-09-01 11:06:46  2023-09-01
...                   ...         ...
20984 2024-10-29 13:08:54  2024-10-29
20985 2024-10-29 13:09:19  2024-10-29
20986 2024-10-29 13:10:34  2024-10-29
20987 2024-10-29 13:12:22  2024-10-29
20988 2024-10-29 13:46:29  2024-10-29

                                                    Item  salad  soup  emp
0          Soup - Non-Dickinson Student or Non-Meal Plan    0.0   1.0    0
2                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
3      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
4                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
5                  Soup - Dickinson Student w. Meal Plan    0.0   1.0    0
...                                                  ...    ...   ...  ...
20984  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
20985  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0
20986  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    0.5   0.5    0
20987  1/2 Soup - 1/2 Salad - Non Dickinson Student o...    0.5   0.5    0
20988  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...    0.5   0.5    0

[15558 rows x 6 columns]

In [ ]:
#filtered_merged.columns

Index(['timestamp', 'Date', 'day_name', 'Time', 'Category', 'Item', 'Qty',
       'Gross Sales', 'Discounts', 'Net Sales', 'Tax', 'Event Type',
       'Location', 'Empanadas', 'Week', 'Day', 'Notes', 'date', 'year',
       'salad', 'soup', 'emp', 'soups_encoded', 'salads_encoded',
       'emp_encoded'],
      dtype='object')

In [17]:
from sklearn.preprocessing import LabelEncoder

le_soups = LabelEncoder()
le_salads = LabelEncoder()
le_emp = LabelEncoder()

# Apply label encoding to each column
filtered_merged['soups_encoded'] = le_soups.fit_transform(filtered_merged['Soup'])
filtered_merged['salads_encoded'] = le_salads.fit_transform(filtered_merged['Salad'])
filtered_merged['emp_encoded'] = le_emp.fit_transform(filtered_merged['Empanada'])

# Drop original categorical columns
filtered_merged.drop(columns=['Soup', 'Salad', 'Empanadas'], inplace=True)

# Verify the transformation
print(filtered_merged.head())

# Save transformed data to Excel
filtered_merged.to_excel("sales_menu_encoded.xlsx", index=False, engine='openpyxl')

            timestamp        Date day_name      Time    Category  \
0 2023-09-01 11:04:07  2023-09-01   Friday  11:04:07  Soup/Salad
2 2023-09-01 11:04:36  2023-09-01   Friday  11:04:36  Soup/Salad
3 2023-09-01 11:05:24  2023-09-01   Friday  11:05:24  Soup/Salad
4 2023-09-01 11:06:12  2023-09-01   Friday  11:06:12  Soup/Salad
5 2023-09-01 11:06:46  2023-09-01   Friday  11:06:46  Soup/Salad

                                                Item  Qty  Gross Sales  \
0      Soup - Non-Dickinson Student or Non-Meal Plan  1.0          5.0
2              Soup - Dickinson Student w. Meal Plan  1.0          3.0
3  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0          3.0
4              Soup - Dickinson Student w. Meal Plan  1.0          3.0
5              Soup - Dickinson Student w. Meal Plan  1.0          3.0

   Discounts  Net Sales  ...  Day Notes Empanada        date salad soup emp  \
0        0.0        5.0  ...  Fri    nf      NaN  2023-09-01   0.0  1.0   0
2        0.0        3.0  ...  Fri    nf      NaN  2023-09-01   0.0  1.0   0
3        0.0        3.0  ...  Fri    nf      NaN  2023-09-01   0.5  0.5   0
4        0.0        3.0  ...  Fri    nf      NaN  2023-09-01   0.0  1.0   0
5        0.0        3.0  ...  Fri    nf      NaN  2023-09-01   0.0  1.0   0

  soups_encoded  salads_encoded  emp_encoded
0             8              21            6
2             8              21            6
3             8              10            6
4             8              21            6
5             8              21            6

[5 rows x 24 columns]

In [30]:
filtered_merged.columns()

TypeError: 'Index' object is not callable

In [14]:
filtered_merged['timestamp'] = pd.to_datetime(filtered_merged['timestamp'])
filtered_merged['date'] = filtered_merged['timestamp'].dt.date
filtered_merged['year'] = filtered_merged['timestamp'].dt.year
filtered_merged['day_name'] = filtered_merged['timestamp'].dt.day_name()

half = [
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
]

def create_count_df():
    # Count full
    soup_items = filtered_merged[filtered_merged['Item'].isin(soup)]
    salad_items = filtered_merged[filtered_merged['Item'].isin(salad)]

    # Filter for half Soup and Salad items (add 0.5 to both)
    half_soup_salad_items = filtered_merged[filtered_merged['Item'].isin(half)]

    # Filter for Empanada items based on year and day
    empanada_items = filtered_merged[
        (filtered_merged['Item'].str.contains("Empanada", case=False, na=False)) &
        (
            ((filtered_merged['year'] == 2023) & (filtered_merged['day_name'] == 'Wednesday')) |
            ((filtered_merged['year'] == 2024) & (filtered_merged['day_name'].isin(['Tuesday', 'Thursday'])))
        )
    ]

    # Count full Soup, Salad, and Empanada items
    soup_count = soup_items.groupby('date').size().reset_index(name='soup_count')
    salad_count = salad_items.groupby('date').size().reset_index(name='salad_count')
    empanada_count = empanada_items.groupby('date').size().reset_index(name='empanada_count')

    # Count half Soup and Salad items (each counts as 0.5)
    half_soup_salad_count = half_soup_salad_items.groupby('date').size().reset_index(name='half')

    # Add 0.5 for each half Soup and Salad item to the respective columns
    soup_count = pd.merge(soup_count, half_soup_salad_count, on='date', how='outer')
    salad_count = pd.merge(salad_count, half_soup_salad_count, on='date', how='outer')

    soup_count['soup_count'] = soup_count['soup_count'].fillna(0) + soup_count['half'].fillna(0) * 0.5
    salad_count['salad_count'] = salad_count['salad_count'].fillna(0) + salad_count['half'].fillna(0) * 0.5

    # Merge all counts together
    result = pd.merge(soup_count[['date', 'soup_count']], salad_count[['date', 'salad_count']], on='date', how='outer')
    result = pd.merge(result, empanada_count, on='date', how='outer')

    return result

# Create the summary DataFrame for all dates
sales_summary = create_count_df()

# Print the resulting DataFrame
print("Daily Sales Summary:")
print(sales_summary)

merged = pd.merge(filtered_merged, sales_summary, on=['date'], how='left')
merged1 = pd.merge(merged, cost, on='Soup', how='left')

print(merged1)

merged.to_excel("sales_menu_cleaned1.xlsx", index=False, engine='openpyxl')

Daily Sales Summary:
           date  soup_count  salad_count  empanada_count
0    2023-09-01        46.0         30.0             NaN
1    2023-09-04        37.0         34.0             NaN
2    2023-09-05        26.5         34.5             NaN
3    2023-09-06        62.0         56.0             NaN
4    2023-09-07        26.5         30.5             NaN
..          ...         ...          ...             ...
170  2024-10-23        40.0         29.0             NaN
171  2024-10-24        75.5         68.5             NaN
172  2024-10-25        58.5         31.5             NaN
173  2024-10-28        51.5         26.5             NaN
174  2024-10-29        72.0         61.0             NaN

[175 rows x 4 columns]
                timestamp        Date day_name      Time    Category  \
0     2023-09-01 11:04:07  2023-09-01   Friday  11:04:07  Soup/Salad
1     2023-09-01 11:04:36  2023-09-01   Friday  11:04:36  Soup/Salad
2     2023-09-01 11:05:24  2023-09-01   Friday  11:05:24  Soup/Salad
3     2023-09-01 11:06:12  2023-09-01   Friday  11:06:12  Soup/Salad
4     2023-09-01 11:06:46  2023-09-01   Friday  11:06:46  Soup/Salad
...                   ...         ...      ...       ...         ...
15553 2024-10-29 13:08:54  2024-10-29  Tuesday  13:08:54  Soup/Salad
15554 2024-10-29 13:09:19  2024-10-29  Tuesday  13:09:19  Soup/Salad
15555 2024-10-29 13:10:34  2024-10-29  Tuesday  13:10:34  Soup/Salad
15556 2024-10-29 13:12:22  2024-10-29  Tuesday  13:12:22  Soup/Salad
15557 2024-10-29 13:46:29  2024-10-29  Tuesday  13:46:29  Soup/Salad

                                                    Item  Qty  Gross Sales  \
0          Soup - Non-Dickinson Student or Non-Meal Plan  1.0         5.00
1                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
2      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.00
3                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
4                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
...                                                  ...  ...          ...
15553  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15554  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15555  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15556  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15557  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00

       Discounts  Net Sales  ...              Soup Notes  \
0            0.0       5.00  ...        Elote Corn    nf
1            0.0       3.00  ...        Elote Corn    nf
2            0.0       3.00  ...        Elote Corn    nf
3            0.0       3.00  ...        Elote Corn    nf
4            0.0       3.00  ...        Elote Corn    nf
...          ...        ...  ...               ...   ...
15553        0.0       5.00  ...  Cuban Black Bean   NaN
15554        0.0       5.00  ...  Cuban Black Bean   NaN
15555        0.0       6.13  ...  Cuban Black Bean   NaN
15556        0.0       6.13  ...  Cuban Black Bean   NaN
15557        0.0       5.00  ...  Cuban Black Bean   NaN

                                           Salad  Empanada        date  year  \
0                                            NaN       NaN  2023-09-01  2023
1                                            NaN       NaN  2023-09-01  2023
2       Mujadara Bowls w/Parsley-Tahini dressing       NaN  2023-09-01  2023
3                                            NaN       NaN  2023-09-01  2023
4                                            NaN       NaN  2023-09-01  2023
...                                          ...       ...         ...   ...
15553  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15554  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15555  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15556  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15557  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024

      soup_count salad_count empanada_count total
0           46.0        30.0            NaN   NaN
1           46.0        30.0            NaN   NaN
2           46.0        30.0            NaN   NaN
3           46.0        30.0            NaN   NaN
4           46.0        30.0            NaN   NaN
...          ...         ...            ...   ...
15553       72.0        61.0            NaN  1.38
15554       72.0        61.0            NaN  1.38
15555       72.0        61.0            NaN  1.38
15556       72.0        61.0            NaN  1.38
15557       72.0        61.0            NaN  1.38

[15558 rows x 26 columns]

PermissionError: [Errno 13] Permission denied: 'sales_menu_cleaned1.xlsx'

In [15]:
def create_count_df():
    # Count full
    soup_items = filtered_merged[filtered_merged['Item'].isin(soup)]
    salad_items = filtered_merged[filtered_merged['Item'].isin(salad)]

    # Filter for half Soup and Salad items (add 0.5 to both)
    half_soup_salad_items = filtered_merged[filtered_merged['Item'].isin(half)]

    # Filter for Empanada items based on year and day
    empanada_items = filtered_merged[
        (filtered_merged['Item'].str.contains("Empanada", case=False, na=False)) &
        (
            ((filtered_merged['year'] == 2023) & (filtered_merged['day_name'] == 'Wednesday')) |
            ((filtered_merged['year'] == 2024) & (filtered_merged['day_name'].isin(['Tuesday', 'Thursday'])))
        )
    ]

    # Count full Soup, Salad, and Empanada items
    soup_count = soup_items.groupby('date').size().reset_index(name='soup_count')
    salad_count = salad_items.groupby('date').size().reset_index(name='salad_count')
    empanada_count = empanada_items.groupby('date').size().reset_index(name='empanada_count')

    # Count half Soup and Salad items (each counts as 0.5)
    half_soup_salad_count = half_soup_salad_items.groupby('date').size().reset_index(name='half')

    # Add 0.5 for each half Soup and Salad item to the respective columns
    soup_count = pd.merge(soup_count, half_soup_salad_count, on='date', how='outer')
    salad_count = pd.merge(salad_count, half_soup_salad_count, on='date', how='outer')

    soup_count['soup_count'] = soup_count['soup_count'].fillna(0) + soup_count['half'].fillna(0) * 0.5
    salad_count['salad_count'] = salad_count['salad_count'].fillna(0) + salad_count['half'].fillna(0) * 0.5

    # Keep soup, salad, and empanada counts separate
    soup_count = soup_count[['date', 'soup_count']]
    salad_count = salad_count[['date', 'salad_count']]
    empanada_count = empanada_count[['date', 'empanada_count']]

    # Merge all counts together without summing them
    result = pd.merge(soup_count, salad_count, on='date', how='outer')
    result = pd.merge(result, empanada_count, on='date', how='outer')

    return result

# Create the summary DataFrame for all dates
sales_summary = create_count_df()

# Print the resulting DataFrame
print("Daily Sales Summary:")
print(sales_summary)

# Merge the counts with the original data without summing
merged = pd.merge(filtered_merged, sales_summary, on=['date'], how='left')

# Assuming `cost` has additional information for merging; adjust as needed
merged1 = pd.merge(merged, cost, on='Soup', how='left')

print(merged1)

# Save the resulting DataFrame to an Excel file
merged.to_excel("sales_menu_cleaned1.xlsx", index=False, engine='openpyxl')

Daily Sales Summary:
           date  soup_count  salad_count  empanada_count
0    2023-09-01        46.0         30.0             NaN
1    2023-09-04        37.0         34.0             NaN
2    2023-09-05        26.5         34.5             NaN
3    2023-09-06        62.0         56.0             NaN
4    2023-09-07        26.5         30.5             NaN
..          ...         ...          ...             ...
170  2024-10-23        40.0         29.0             NaN
171  2024-10-24        75.5         68.5             NaN
172  2024-10-25        58.5         31.5             NaN
173  2024-10-28        51.5         26.5             NaN
174  2024-10-29        72.0         61.0             NaN

[175 rows x 4 columns]
                timestamp        Date day_name      Time    Category  \
0     2023-09-01 11:04:07  2023-09-01   Friday  11:04:07  Soup/Salad
1     2023-09-01 11:04:36  2023-09-01   Friday  11:04:36  Soup/Salad
2     2023-09-01 11:05:24  2023-09-01   Friday  11:05:24  Soup/Salad
3     2023-09-01 11:06:12  2023-09-01   Friday  11:06:12  Soup/Salad
4     2023-09-01 11:06:46  2023-09-01   Friday  11:06:46  Soup/Salad
...                   ...         ...      ...       ...         ...
15553 2024-10-29 13:08:54  2024-10-29  Tuesday  13:08:54  Soup/Salad
15554 2024-10-29 13:09:19  2024-10-29  Tuesday  13:09:19  Soup/Salad
15555 2024-10-29 13:10:34  2024-10-29  Tuesday  13:10:34  Soup/Salad
15556 2024-10-29 13:12:22  2024-10-29  Tuesday  13:12:22  Soup/Salad
15557 2024-10-29 13:46:29  2024-10-29  Tuesday  13:46:29  Soup/Salad

                                                    Item  Qty  Gross Sales  \
0          Soup - Non-Dickinson Student or Non-Meal Plan  1.0         5.00
1                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
2      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.00
3                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
4                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
...                                                  ...  ...          ...
15553  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15554  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15555  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15556  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15557  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00

       Discounts  Net Sales  ...              Soup Notes  \
0            0.0       5.00  ...        Elote Corn    nf
1            0.0       3.00  ...        Elote Corn    nf
2            0.0       3.00  ...        Elote Corn    nf
3            0.0       3.00  ...        Elote Corn    nf
4            0.0       3.00  ...        Elote Corn    nf
...          ...        ...  ...               ...   ...
15553        0.0       5.00  ...  Cuban Black Bean   NaN
15554        0.0       5.00  ...  Cuban Black Bean   NaN
15555        0.0       6.13  ...  Cuban Black Bean   NaN
15556        0.0       6.13  ...  Cuban Black Bean   NaN
15557        0.0       5.00  ...  Cuban Black Bean   NaN

                                           Salad  Empanada        date  year  \
0                                            NaN       NaN  2023-09-01  2023
1                                            NaN       NaN  2023-09-01  2023
2       Mujadara Bowls w/Parsley-Tahini dressing       NaN  2023-09-01  2023
3                                            NaN       NaN  2023-09-01  2023
4                                            NaN       NaN  2023-09-01  2023
...                                          ...       ...         ...   ...
15553  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15554  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15555  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15556  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024
15557  Kale w/Roasted Butternut Squash & Lentils       NaN  2024-10-29  2024

      soup_count salad_count empanada_count total
0           46.0        30.0            NaN   NaN
1           46.0        30.0            NaN   NaN
2           46.0        30.0            NaN   NaN
3           46.0        30.0            NaN   NaN
4           46.0        30.0            NaN   NaN
...          ...         ...            ...   ...
15553       72.0        61.0            NaN  1.38
15554       72.0        61.0            NaN  1.38
15555       72.0        61.0            NaN  1.38
15556       72.0        61.0            NaN  1.38
15557       72.0        61.0            NaN  1.38

[15558 rows x 26 columns]

PermissionError: [Errno 13] Permission denied: 'sales_menu_cleaned1.xlsx'

In [19]:
# Ensure 'timestamp' column is in datetime format
filtered_merged['timestamp'] = pd.to_datetime(filtered_merged['timestamp'])

# Extract 'date' and 'hour' from 'timestamp' in the larger DataFrame
filtered_merged['date'] = filtered_merged['timestamp'].dt.date
filtered_merged['hour'] = filtered_merged['timestamp'].dt.hour

# Modify the time-specific DataFrames to also have 'date' and 'hour' columns
sales_11_to_12['hour'] = 11
sales_12_to_1['hour'] = 12
sales_1_to_2['hour'] = 13

# Modify the column names in the time-specific DataFrames to reflect the time ranges
sales_11_to_12.rename(columns={'soup_count': 'soup_count_11_12', 
                               'salad_count': 'salad_count_11_12', 
                               'empanada_count': 'empanada_count_11_12'}, inplace=True)

sales_12_to_1.rename(columns={'soup_count': 'soup_count_12_1', 
                              'salad_count': 'salad_count_12_1', 
                              'empanada_count': 'empanada_count_12_1'}, inplace=True)

sales_1_to_2.rename(columns={'soup_count': 'soup_count_1_2', 
                              'salad_count': 'salad_count_1_2', 
                              'empanada_count': 'empanada_count_1_2'}, inplace=True)

# Now merge the time-specific DataFrames based on both 'date' and 'hour'
merged_11_12 = pd.merge(filtered_merged, sales_11_to_12, on=['date', 'hour'], how='left')
merged_12_1 = pd.merge(merged_11_12, sales_12_to_1, on=['date', 'hour'], how='left')
final_merged = pd.merge(merged_12_1, sales_1_to_2, on=['date', 'hour'], how='left')

# Display the final merged DataFrame
print(final_merged)

                timestamp        Date day_name      Time    Category  \
0     2023-09-01 11:04:07  2023-09-01   Friday  11:04:07  Soup/Salad
1     2023-09-01 11:04:36  2023-09-01   Friday  11:04:36  Soup/Salad
2     2023-09-01 11:05:24  2023-09-01   Friday  11:05:24  Soup/Salad
3     2023-09-01 11:06:12  2023-09-01   Friday  11:06:12  Soup/Salad
4     2023-09-01 11:06:46  2023-09-01   Friday  11:06:46  Soup/Salad
...                   ...         ...      ...       ...         ...
15553 2024-10-29 13:08:54  2024-10-29  Tuesday  13:08:54  Soup/Salad
15554 2024-10-29 13:09:19  2024-10-29  Tuesday  13:09:19  Soup/Salad
15555 2024-10-29 13:10:34  2024-10-29  Tuesday  13:10:34  Soup/Salad
15556 2024-10-29 13:12:22  2024-10-29  Tuesday  13:12:22  Soup/Salad
15557 2024-10-29 13:46:29  2024-10-29  Tuesday  13:46:29  Soup/Salad

                                                    Item  Qty  Gross Sales  \
0          Soup - Non-Dickinson Student or Non-Meal Plan  1.0         5.00
1                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
2      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.00
3                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
4                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
...                                                  ...  ...          ...
15553  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15554  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15555  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15556  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15557  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00

       Discounts  Net Sales  ...  hour soup_count_11_12 salad_count_11_12  \
0            0.0       5.00  ...    11             13.5               9.5
1            0.0       3.00  ...    11             13.5               9.5
2            0.0       3.00  ...    11             13.5               9.5
3            0.0       3.00  ...    11             13.5               9.5
4            0.0       3.00  ...    11             13.5               9.5
...          ...        ...  ...   ...              ...               ...
15553        0.0       5.00  ...    13              NaN               NaN
15554        0.0       5.00  ...    13              NaN               NaN
15555        0.0       6.13  ...    13              NaN               NaN
15556        0.0       6.13  ...    13              NaN               NaN
15557        0.0       5.00  ...    13              NaN               NaN

       empanada_count_11_12 soup_count_12_1 salad_count_12_1  \
0                       NaN             NaN              NaN
1                       NaN             NaN              NaN
2                       NaN             NaN              NaN
3                       NaN             NaN              NaN
4                       NaN             NaN              NaN
...                     ...             ...              ...
15553                   NaN             NaN              NaN
15554                   NaN             NaN              NaN
15555                   NaN             NaN              NaN
15556                   NaN             NaN              NaN
15557                   NaN             NaN              NaN

      empanada_count_12_1 soup_count_1_2 salad_count_1_2 empanada_count_1_2
0                     NaN            NaN             NaN                NaN
1                     NaN            NaN             NaN                NaN
2                     NaN            NaN             NaN                NaN
3                     NaN            NaN             NaN                NaN
4                     NaN            NaN             NaN                NaN
...                   ...            ...             ...                ...
15553                 NaN            NaN             NaN                NaN
15554                 NaN            NaN             NaN                NaN
15555                 NaN            NaN             NaN                NaN
15556                 NaN            NaN             NaN                NaN
15557                 NaN            NaN             NaN                NaN

[15558 rows x 31 columns]

In [20]:
final_merged.to_excel("sales_menu_cleaned.xlsx", index=False, engine='openpyxl')

PermissionError: [Errno 13] Permission denied: 'sales_menu_cleaned.xlsx'