In [53]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
#from google.colab import files

In [54]:
menu = pd.read_excel("C:/Users/miche/Downloads/farmworks-main/farmworks-main/farmworks_menu.xlsx", engine='openpyxl')
sales = pd.read_excel("C:/Users/miche/Downloads/farmworks-main/farmworks-main/farmworks_sales.xlsx", engine='openpyxl')

In [55]:
menu.head(10)

,Week,Day,Soup,Notes,Salad,Empanada
0,2023-08-28,Mon,Tomato,contains coconut milk,Mujadara Bowls w/Parsley-Tahini dressing,NaN
1,2023-08-29,Tues,Red Lentil,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
2,2023-08-30,Wed,Sopa de Fideo,nf,Mujadara Bowls w/Parsley-Tahini dressing,Creole
3,2023-08-31,Thur,Sweet & Sour Vegetable,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
4,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
5,2023-09-04,Mon,Moroccan Chickpea & Carrot,nf,Kale Caesar,NaN
6,2023-09-05,Tues,Carrot Ginger,contains coconut milk,Kale Caesar,NaN
7,2023-09-06,Wed,Cuban Black Bean,nf,Kale Caesar,Three Sisters
8,2023-09-07,Thur,Split Pea,nf,Kale Caesar,NaN
9,2023-09-08,Fri,Red Bean Chili,nf,Kale Caesar,NaN

In [56]:
sales.head()

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location,Empanadas
0,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works,0
1,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Farm Store,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,Payment,Farm Works,0
2,2023-09-01 11:04:36,2023-09-01,Friday,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0
3,2023-09-01 11:05:24,2023-09-01,Friday,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0
4,2023-09-01 11:06:12,2023-09-01,Friday,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0

In [57]:
menu['Date'] = menu['Week'].dt.date
sales['Date'] = sales['timestamp'].dt.date

In [58]:
merged = pd.merge(sales, menu, on="Date", how="left")

merged.head(10)

#len(merged)

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location,Empanadas,Week,Day,Soup,Notes,Salad,Empanada
0,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
1,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Farm Store,Beef Jerky - SMOKE,1.0,7.0,0.0,7.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
2,2023-09-01 11:04:36,2023-09-01,Friday,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
3,2023-09-01 11:05:24,2023-09-01,Friday,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
4,2023-09-01 11:06:12,2023-09-01,Friday,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
5,2023-09-01 11:06:46,2023-09-01,Friday,11:06:46,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
6,2023-09-01 11:10:00,2023-09-01,Friday,11:10:00,Soup/Salad,Soup - Dickinson Student w. Meal Plan,3.0,9.0,0.0,9.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
7,2023-09-01 11:10:47,2023-09-01,Friday,11:10:47,Soup/Salad,Salad - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
8,2023-09-01 11:15:10,2023-09-01,Friday,11:15:10,NaN,Box of lamb,1.0,200.0,0.0,200.0,0.0,Payment,Dickinson College Farm,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
9,2023-09-01 11:19:47,2023-09-01,Friday,11:19:47,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN

In [59]:
unique_items = merged['Item'].unique()

print(unique_items)

['Soup - Non-Dickinson Student or Non-Meal Plan' 'Beef Jerky - SMOKE'
 'Soup - Dickinson Student w. Meal Plan'
 '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
 'Salad - Dickinson Student w. Meal Plan' 'Box of lamb' 'Tote Bags'
 'Carrot-Habanero Hot Sauce' 'Salsa' 'Melon Marmalade'
 'Strawberry Compote' 'Salad - Non -Dickinson Student or Non-Meal Plan'
 'Beef Jerky - HOT' 'Red Devil Hot Pepper Sauce' 'Bloody Mary Mix'
 'Metal Camping Mugs' 'T-Shirt Bags'
 'Soup Dickinson Staff paying with Declining Balance'
 '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan' 'Garlic'
 'Tomatoes' 'Eggs, Dozen' 'Kimchi' 'Beef Filet Mignon'
 'Beef Delmonico Steak' 'Beef Sausage Pepper & Onion' 'Beef Sirloin Cubes'
 'Beef Sweet Italian Sausage (3- or 4-pack)'
 'Beef Hot Italian Sausage (3 or 4 pack)' 'Ground Beef' 'Dill Pickles'
 'Beets' 'Onions'
 '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance'
 'Salad Dickinson Staff paying with Declining Balance' 'Strawberry Shrub'
 'Popcorn' 'Pizza Sauce' 'Lip Therapy' 'Stickers' 'Strawberry Jam'
 'Dog Note Cards' 'Custom Amount' 'Special Pizza' 'Plain Pizza'
 'Three veg pizza' 'Bulk Tomatoes' 'Mason Jar - w/ lid and straw  $8'
 'Beef Hot Dogs' 'Elderberry Syrup' 'Herbal Salve' 'Potatoes'
 'Pedal Power' 'Note Cards' 'Eye Round Roast' 'Beef Flank Steak'
 'Beef Chuck Roast' 'Beef Tri-Tip Steak' 'Farm Fresh Eggs' 'Luffa'
 'Elderberry Extract' 'Soap' 'Cantaloupe Shrub' 'Beef, Sausage'
 'Salad dressing - Deep Green Vinegrette'
 'Grass-Fed Grill Item - Non-Dickinson Customer'
 'Grass-Fed Grill Item-Dickinson Student W. Meal plan' 'Dryer Balls'
 'Grass-Fed Grill Item Dickinson Staff W. DB' 'Yarn'
 'Dickinson College T-shirt' 'Fire Cider' 'Sauerkraut' 'Beef, Ground'
 'Ten Mile Farm Foundation payment' 'Red Devil Trucker Hat'
 'Habanero-Carrot Hot Sauce' 'Beef Shaved Steak' 'Note Card - Single card'
 'Beef, Nitrate Free Hot Dogs, 5-pack' 'Dog toy'
 'Beef New York Strip Steak' 'Sweet Pickles' 'Sage Extract'
 'Nettle Leaf Extract' 'Dickinson Hat' 'Marinara'
 'Farm Works gift certificate' 'Sriracha' 'Double E Tincture'
 'Beef Sirloin Steak' 'Echinacea Extract' 'Beef Ground Beef'
 'Beef Sandwich Steak' 'Beef Jerky - Hot n Spicy'
 'Laundry Strips 20 Loads' 'Ceramic Dickinson College Mug' 'Cabbage'
 'Black Dickinson Farm T-shirt' 'Eggs, half' 'Eggs, Half Dozen'
 'T shirt scarf' 'Fresh Greens, 1/2 Lb. Bag'
 'Beef Convenience Cuts Bundle' 'Beef Cuts Bundle'
 'Beef Delmonico Steak (1.2 lb)' 'Beef Tri-Tip Steak (2.2 lb)'
 'Beef Hot Dogs (5 pack)' 'Beef New York Strip Steak (1.1 lb)'
 'Beef Burger Patties' 'Beef Jerky - Hickory Smoked'
 'Beef Jerky - Hot & Spicy' 'Veggie Lover Tee' '5-Gallon Compost Bucket'
 'zucchini ' 'Cherry tomatoes' 'Summer Squash' 'zucchini'
 'Green Devil Pepper Sauce' 'Pizza, Frozen GF 3 VEG'
 'Pizza, frozen REG 3 VEG' 'Fermented Foods' 'Pizza, Frozen GF CHEESE'
 'watermelon' 'Small Batches' 'Pizza, Frozen REG CHEESE'
 'Beef Skirt Steak (1 lb)' 'Beef Flat Iron Steak' 'Pesto, frozen'
 '2-Gallon Compost Bucket' 'Beef, Burger Patties' 'Beef, NY Strip Steak'
 'Hot Peppers' 'Relish' 'Peppers' 'Pepper, Sweet Yummy'
 'Small Batches, Student Meal Plan' 'Carrots' 'Small Batch, Non-Meal Plan'
 'New York Strip Steak - Farm Works' 'Tomato, Box' 'Butternut Squash'
 'Bell pepper' 'Petite Beef Tenderloin' 'Non Student Breakfast'
 'Student Breakfast, Meal Plan']

In [61]:
# List of items to include
item_list = [
    'Soup - Non-Dickinson Student or Non-Meal Plan',
    'Soup - Dickinson Student w. Meal Plan',
    'Salad - Dickinson Student w. Meal Plan',
    'Salad - Non -Dickinson Student or Non-Meal Plan',
    'Soup Dickinson Staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    'Salad Dickinson Staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan'
]

# Subset 
filtered_merged = merged[merged["Item"].isin(item_list)]

filtered_merged.head()
#len(filtered_merged)

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location,Empanadas,Week,Day,Soup,Notes,Salad,Empanada
0,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
2,2023-09-01 11:04:36,2023-09-01,Friday,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
3,2023-09-01 11:05:24,2023-09-01,Friday,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
4,2023-09-01 11:06:12,2023-09-01,Friday,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
5,2023-09-01 11:06:46,2023-09-01,Friday,11:06:46,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN

In [62]:
soup = [
    'Soup - Non-Dickinson Student or Non-Meal Plan',
    'Soup - Dickinson Student w. Meal Plan',
    'Soup Dickinson Staff paying with Declining Balance']

filtered_merged.loc[filtered_merged["Item"].isin(soup), ["Salad", "Empanada"]] = np.nan

salad = [
    'Salad - Dickinson Student w. Meal Plan',
    'Salad - Non -Dickinson Student or Non-Meal Plan',
    'Salad Dickinson Staff paying with Declining Balance']

filtered_merged.loc[filtered_merged["Item"].isin(salad), ["Soup", "Empanada"]] = np.nan

emp = [
    'Monday', 'Tuesday', 'Thursday', 'Friday']

filtered_merged.loc[filtered_merged["day_name"].isin(emp), ["Empanada"]] = np.nan

filtered_merged.head()

,timestamp,Date,day_name,Time,Category,Item,Qty,Gross Sales,Discounts,Net Sales,Tax,Event Type,Location,Empanadas,Week,Day,Soup,Notes,Salad,Empanada
0,2023-09-01 11:04:07,2023-09-01,Friday,11:04:07,Soup/Salad,Soup - Non-Dickinson Student or Non-Meal Plan,1.0,5.0,0.0,5.0,0.3,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,NaN,NaN
2,2023-09-01 11:04:36,2023-09-01,Friday,11:04:36,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,NaN,NaN
3,2023-09-01 11:05:24,2023-09-01,Friday,11:05:24,Soup/Salad,1/2 Soup - 1/2 Salad - Dickinson Student w. Me...,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,Mujadara Bowls w/Parsley-Tahini dressing,NaN
4,2023-09-01 11:06:12,2023-09-01,Friday,11:06:12,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,NaN,NaN
5,2023-09-01 11:06:46,2023-09-01,Friday,11:06:46,Soup/Salad,Soup - Dickinson Student w. Meal Plan,1.0,3.0,0.0,3.0,0.0,Payment,Farm Works,0,2023-09-01,Fri,Elote Corn,nf,NaN,NaN

In [63]:
# Check using Wed sales
wed = filtered_merged[filtered_merged['day_name'] == "Wednesday"]

print(wed)

                timestamp        Date   day_name      Time    Category  \
259   2023-09-06 10:59:54  2023-09-06  Wednesday  10:59:54  Soup/Salad
260   2023-09-06 11:01:10  2023-09-06  Wednesday  11:01:10  Soup/Salad
261   2023-09-06 11:02:56  2023-09-06  Wednesday  11:02:56  Soup/Salad
262   2023-09-06 11:03:06  2023-09-06  Wednesday  11:03:06  Soup/Salad
263   2023-09-06 11:03:22  2023-09-06  Wednesday  11:03:22  Soup/Salad
...                   ...         ...        ...       ...         ...
20434 2024-10-23 13:24:55  2024-10-23  Wednesday  13:24:55  Soup/Salad
20435 2024-10-23 13:35:08  2024-10-23  Wednesday  13:35:08  Soup/Salad
20436 2024-10-23 13:38:36  2024-10-23  Wednesday  13:38:36  Soup/Salad
20437 2024-10-23 13:39:01  2024-10-23  Wednesday  13:39:01  Soup/Salad
20438 2024-10-23 13:54:40  2024-10-23  Wednesday  13:54:40  Soup/Salad

                                                    Item  Qty  Gross Sales  \
259    1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.00
260               Salad - Dickinson Student w. Meal Plan  1.0         3.00
261    1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.00
262               Salad - Dickinson Student w. Meal Plan  1.0         3.00
263                Soup - Dickinson Student w. Meal Plan  1.0         3.00
...                                                  ...  ...          ...
20434    Salad - Non -Dickinson Student or Non-Meal Plan  1.0         6.13
20435    Salad - Non -Dickinson Student or Non-Meal Plan  1.0         6.13
20436             Salad - Dickinson Student w. Meal Plan  1.0         5.00
20437             Salad - Dickinson Student w. Meal Plan  1.0         5.00
20438             Salad - Dickinson Student w. Meal Plan  1.0         5.00

       Discounts  Net Sales   Tax Event Type    Location  Empanadas  \
259          0.0       3.00  0.00    Payment  Farm Works          1
260          0.0       3.00  0.00    Payment  Farm Works          1
261          0.0       3.00  0.00    Payment  Farm Works          1
262          0.0       3.00  0.00    Payment  Farm Works          1
263          0.0       3.00  0.00    Payment  Farm Works          1
...          ...        ...   ...        ...         ...        ...
20434        0.0       6.13  0.37    Payment  Farm Works          0
20435        0.0       6.13  0.37    Payment  Farm Works          0
20436        0.0       5.00  0.00    Payment  Farm Works          0
20437        0.0       5.00  0.00    Payment  Farm Works          0
20438        0.0       5.00  0.00    Payment  Farm Works          0

            Week  Day              Soup Notes        Salad       Empanada
259   2023-09-06  Wed  Cuban Black Bean    nf  Kale Caesar  Three Sisters
260   2023-09-06  Wed               NaN    nf  Kale Caesar            NaN
261   2023-09-06  Wed  Cuban Black Bean    nf  Kale Caesar  Three Sisters
262   2023-09-06  Wed               NaN    nf  Kale Caesar            NaN
263   2023-09-06  Wed  Cuban Black Bean    nf          NaN            NaN
...          ...  ...               ...   ...          ...            ...
20434        NaT  NaN               NaN   NaN          NaN            NaN
20435        NaT  NaN               NaN   NaN          NaN            NaN
20436        NaT  NaN               NaN   NaN          NaN            NaN
20437        NaT  NaN               NaN   NaN          NaN            NaN
20438        NaT  NaN               NaN   NaN          NaN            NaN

[4182 rows x 20 columns]

In [65]:
filtered_merged['timestamp'] = pd.to_datetime(filtered_merged['timestamp'])

filtered_merged['date'] = filtered_merged['timestamp'].dt.date
#filtered_merged['day_of_week'] = filtered_merged['timestamp'].dt.dayofweek

half = [
    '1/2 Soup - 1/2 Salad - Non Dickinson Student or Non-Meal Plan',
    '1/2 soup 1/2 salad Dickinson staff paying with Declining Balance',
    '1/2 Soup - 1/2 Salad - Dickinson Student w. Meal Plan']

def create_count_df(time_start, time_end):
    # Filter the DataFrame based on the time range
    subset_time = filtered_merged[
        (filtered_merged['timestamp'].dt.time >= pd.to_datetime(time_start).time()) &
        (filtered_merged['timestamp'].dt.time < pd.to_datetime(time_end).time())
    ]

    # Count full 
    soup_items = subset_time[subset_time['Item'].isin(soup)]
    salad_items = subset_time[subset_time['Item'].isin(salad)]
    #empanada_items = subset_time[subset_time['Item'].str.contains("Empanada", case=False, na=False)]

    # Filter for half Soup and Salad items (add 0.5 to both)
    half_soup_salad_items = subset_time[subset_time['Item'].isin(half)]

    # Count full Soup, Salad, and Empanada items
    soup_count = soup_items.groupby('date').size().reset_index(name='soup_count')
    salad_count = salad_items.groupby('date').size().reset_index(name='salad_count')
    #empanada_count = empanada_items.groupby('date').size().reset_index(name='empanada_count')

    # Count half Soup and Salad items (each counts as 0.5)
    half_soup_salad_count = half_soup_salad_items.groupby('date').size().reset_index(name='half')

    # Add 0.5 for each half Soup and Salad item to the respective columns
    soup_count['soup_count'] += half_soup_salad_count['half'] * 0.5
    salad_count['salad_count'] += half_soup_salad_count['half'] * 0.5

    # Add full counts for Empanadas on Wednesdays (where day_of_week == 2)
    wednesday_half_soup_salad = half_soup_salad_items[half_soup_salad_items['day_name'] == 'Wednesday']
    empanada_count = wednesday_half_soup_salad.groupby('date').size().reset_index(name='empanada_count')

    # Add the full count to the Empanada count on Wednesdays
    #empanada_count = pd.merge(empanada_count, empanada_count_wednesday, on='date', how='outer')
    #empanada_count['empanada_count'] += empanada_count['empanada_count_wednesday'].fillna(0)

    # Merge all counts together
    result = pd.merge(soup_count, salad_count, on='date', how='outer')
    result = pd.merge(result, empanada_count[['date', 'empanada_count']], on='date', how='outer')

    return result

# Create DataFrames for each time range
sales_11_to_12 = create_count_df("11:00:00", "12:00:00")
sales_12_to_1 = create_count_df("12:00:00", "13:00:00")
sales_1_to_2 = create_count_df("13:00:00", "14:00:00")

# Print the resulting DataFrames
print("11 AM to 12 PM:")
print(sales_11_to_12)
print("\n12 PM to 1 PM:")
print(sales_12_to_1)
print("\n1 PM to 2 PM:")
print(sales_1_to_2)

11 AM to 12 PM:
           date  soup_count  salad_count  empanada_count
0    2023-09-01        13.5          9.5             NaN
1    2023-09-04        13.5         13.5             NaN
2    2023-09-05        12.5         21.5             NaN
3    2023-09-06        34.5         32.5            57.0
4    2023-09-07        14.0         16.0             NaN
..          ...         ...          ...             ...
169  2024-10-23        22.5         11.0             7.0
170  2024-10-24        17.5         33.0             NaN
171  2024-10-25        49.0          4.0             NaN
172  2024-10-28        21.0         28.0             NaN
173  2024-10-29        15.5          6.5             NaN

[174 rows x 4 columns]

12 PM to 1 PM:
           date  soup_count  salad_count  empanada_count
0    2023-09-01        23.0         16.0             NaN
1    2023-09-04        17.5         14.5             NaN
2    2023-09-05        13.5         10.5             NaN
3    2023-09-06        23.0         22.0            34.0
4    2023-09-07         8.0         14.0             NaN
..          ...         ...          ...             ...
170  2024-10-25        24.5         26.5             NaN
171  2024-10-28        32.5         16.5             NaN
172  2024-10-29        15.5         14.5             NaN
173  2023-11-15         NaN         19.5             3.0
174  2024-03-21         NaN         23.0             NaN

[175 rows x 4 columns]

1 PM to 2 PM:
           date  soup_count  salad_count  empanada_count
0    2023-09-01         9.5          4.5             NaN
1    2023-09-04         6.0          6.0             NaN
2    2023-09-06         3.5          NaN             2.0
3    2023-09-07         5.0          NaN             NaN
4    2023-09-12         3.5          9.0             NaN
..          ...         ...          ...             ...
169  2024-10-03         NaN          NaN             NaN
170  2024-10-09         NaN          NaN             4.0
171  2024-10-10         NaN          NaN             NaN
172  2024-10-17         NaN          NaN             NaN
173  2024-10-24         NaN          NaN             NaN

[174 rows x 4 columns]

In [67]:
# Ensure 'timestamp' column is in datetime format
filtered_merged['timestamp'] = pd.to_datetime(filtered_merged['timestamp'])

# Extract 'date' and 'hour' from 'timestamp' in the larger DataFrame
filtered_merged['date'] = filtered_merged['timestamp'].dt.date
filtered_merged['hour'] = filtered_merged['timestamp'].dt.hour

# Modify the time-specific DataFrames to also have 'date' and 'hour' columns
sales_11_to_12['hour'] = 11
sales_12_to_1['hour'] = 12
sales_1_to_2['hour'] = 13

# Modify the column names in the time-specific DataFrames to reflect the time ranges
sales_11_to_12.rename(columns={'soup_count': 'soup_count_11_12', 
                               'salad_count': 'salad_count_11_12', 
                               'empanada_count': 'empanada_count_11_12'}, inplace=True)

sales_12_to_1.rename(columns={'soup_count': 'soup_count_12_1', 
                              'salad_count': 'salad_count_12_1', 
                              'empanada_count': 'empanada_count_12_1'}, inplace=True)

sales_1_to_2.rename(columns={'soup_count': 'soup_count_1_2', 
                              'salad_count': 'salad_count_1_2', 
                              'empanada_count': 'empanada_count_1_2'}, inplace=True)

# Now merge the time-specific DataFrames based on both 'date' and 'hour'
merged_11_12 = pd.merge(filtered_merged, sales_11_to_12, on=['date', 'hour'], how='left')
merged_12_1 = pd.merge(merged_11_12, sales_12_to_1, on=['date', 'hour'], how='left')
final_merged = pd.merge(merged_12_1, sales_1_to_2, on=['date', 'hour'], how='left')

# Display the final merged DataFrame
print(final_merged)

                timestamp        Date day_name      Time    Category  \
0     2023-09-01 11:04:07  2023-09-01   Friday  11:04:07  Soup/Salad
1     2023-09-01 11:04:36  2023-09-01   Friday  11:04:36  Soup/Salad
2     2023-09-01 11:05:24  2023-09-01   Friday  11:05:24  Soup/Salad
3     2023-09-01 11:06:12  2023-09-01   Friday  11:06:12  Soup/Salad
4     2023-09-01 11:06:46  2023-09-01   Friday  11:06:46  Soup/Salad
...                   ...         ...      ...       ...         ...
15553 2024-10-29 13:08:54  2024-10-29  Tuesday  13:08:54  Soup/Salad
15554 2024-10-29 13:09:19  2024-10-29  Tuesday  13:09:19  Soup/Salad
15555 2024-10-29 13:10:34  2024-10-29  Tuesday  13:10:34  Soup/Salad
15556 2024-10-29 13:12:22  2024-10-29  Tuesday  13:12:22  Soup/Salad
15557 2024-10-29 13:46:29  2024-10-29  Tuesday  13:46:29  Soup/Salad

                                                    Item  Qty  Gross Sales  \
0          Soup - Non-Dickinson Student or Non-Meal Plan  1.0         5.00
1                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
2      1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         3.00
3                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
4                  Soup - Dickinson Student w. Meal Plan  1.0         3.00
...                                                  ...  ...          ...
15553  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15554  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00
15555  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15556  1/2 Soup - 1/2 Salad - Non Dickinson Student o...  1.0         6.13
15557  1/2 Soup - 1/2 Salad - Dickinson Student w. Me...  1.0         5.00

       Discounts  Net Sales  ...  hour soup_count_11_12 salad_count_11_12  \
0            0.0       5.00  ...    11             13.5               9.5
1            0.0       3.00  ...    11             13.5               9.5
2            0.0       3.00  ...    11             13.5               9.5
3            0.0       3.00  ...    11             13.5               9.5
4            0.0       3.00  ...    11             13.5               9.5
...          ...        ...  ...   ...              ...               ...
15553        0.0       5.00  ...    13              NaN               NaN
15554        0.0       5.00  ...    13              NaN               NaN
15555        0.0       6.13  ...    13              NaN               NaN
15556        0.0       6.13  ...    13              NaN               NaN
15557        0.0       5.00  ...    13              NaN               NaN

       empanada_count_11_12 soup_count_12_1 salad_count_12_1  \
0                       NaN             NaN              NaN
1                       NaN             NaN              NaN
2                       NaN             NaN              NaN
3                       NaN             NaN              NaN
4                       NaN             NaN              NaN
...                     ...             ...              ...
15553                   NaN             NaN              NaN
15554                   NaN             NaN              NaN
15555                   NaN             NaN              NaN
15556                   NaN             NaN              NaN
15557                   NaN             NaN              NaN

      empanada_count_12_1 soup_count_1_2 salad_count_1_2 empanada_count_1_2
0                     NaN            NaN             NaN                NaN
1                     NaN            NaN             NaN                NaN
2                     NaN            NaN             NaN                NaN
3                     NaN            NaN             NaN                NaN
4                     NaN            NaN             NaN                NaN
...                   ...            ...             ...                ...
15553                 NaN            NaN             NaN                NaN
15554                 NaN            NaN             NaN                NaN
15555                 NaN            NaN             NaN                NaN
15556                 NaN            NaN             NaN                NaN
15557                 NaN            NaN             NaN                NaN

[15558 rows x 31 columns]

In [69]:
final_merged.to_excel("sales_menu_cleaned.xlsx", index=False, engine='openpyxl')